{
  "root": true,
  "extends": ["wesbos"],
  "globals": {
    "IS_DEVELOPMENT": "readonly"
  },
  "env": {
    "browser": true,
    "es6": true
  },
  "parserOptions": {
    "ecmaVersion": 2019
  },
  "rules": {
    "no-debugger": "off",
    "@typescript-eslint/no-unsafe-assignment": 0,
    "prettier/prettier": 0,
    "semi": 0,
    "@typescript-eslint/semi": "never"
  }
}
